
<nav th:fragment="navbar" class="navbar navbar-expand-lg" style="background-color: #e3f2fd; font-size: 20px">
    <div class="container-fluid">
        <a style="position: relative; right: 0; margin-right: 5px" class="nav-link active" aria-current="page" th:text="${name}" href="#"></a>
        <a class="nav-link" href="/logout">Выйти</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a th:if="${#authorization.expression('hasRole(''ADMIN_ROLE'')')}" class="nav-link" href="/admin-console">Консоль</a>
            </div>
        </div>
    </div>
</nav>